.overlay {
    width: 100%;
    background: url('../media/hero.jpg');
    height: 500px;
    position: relative;
}

.overlay img {
    animation: 1s ease-out 0s 1 slideInLeft;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 60%;
}

.header-logo img {
    height: 40px;
}

.hover:hover {
    opacity: 0.5;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@media screen and (max-width: 768px){
    .overlay img {
        width: 80%;
    }
}